html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: calc(100vh - 40px);
}
.sidebar-container {
  height: 100%;
  width: 20%;
  border-right: 1px solid #eee;
  border-left: 2px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow .sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.settings-header {
  display: flex;
  border-bottom: 1px solid #eee;
  margin-bottom: 12px;
  align-items: center;
  padding-bottom: 8px;
}
.middle {
  text-align: center;
  width: 100%;
}
.settings-body {
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
  margin-bottom: 12px;
}
.settings-body textarea {
  width: 100%;
  height: 60px;
}
.gray-text {
  color: #9aa0a5;
  margin-bottom: 8px;
}
.settings-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings-footer button {
  background-color: white;
  height: 36px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}
.delete-node-button {
  border: #ffcbcc 1px solid;
  color: #b41619;
}

.cancel-settings-button {
  border: #0041d0 1px solid;
  color: #0041d0;
}

.dndflow .dndnode {
  height: 60px;
  width: 40%;
  min-width: 80px;
  max-width: 120px;
  padding: 4px;
  border: 1px solid #0041d0;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  color: #0041d0;
  flex-direction: column;
}
.dndnode.disabled {
  color: #9aa0a5;
  border: 1px solid #9aa0a5;
  cursor: no-drop;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

.body-container {
  display: flex;
  height: 100%;
}
.save-button {
  border: #0041d0 1px solid;
  background-color: white;
  height: 36px;
  border-radius: 4px;
  color: #0041d0;
  font-weight: 600;
  cursor: pointer;
}
.save-button.error-button {
  color: black;
  border: none;
  background-color: #ffcbcc;
}
.save-button.success {
  color: black;
  border: none;
  background-color: rgb(192, 226, 192);
}
